<h2>Here are all the recipes</h2>

<% @recipes.each do |recipe| %>
  <p>id: <%= recipe.id %></p>
  <p>title: <a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a></p>
  <p>prep_time: <%= recipe.prep_time %></p>
  <img src="<%= recipe.image_url %>">
  <p>chef: <%= recipe.chef %></p>
  <hr>
<% end %>
