<h2>I'm in the show action</h2>


<a href="/recipes">Go back to the home page</a>

<p>id: <%= @recipe.id %></p>
<p>title: <%= @recipe.title %></p>
<p>ingredients: <%= @recipe.ingredients %></p>
<p>directions: <%= @recipe.directions %></p>
<p>prep_time: <%= @recipe.prep_time %></p>
<img src="<%= @recipe.image_url %>">
<p>chef: <%= @recipe.chef %></p>

<!--
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Recipe">
</form> -->


<a href="/recipes/<%= @recipe.id %>" data-method="delete" rel="nofollow">Delete the item</a>
